:root {
    font-family: sans-serif;
}

.bug {
    background-color: #FDD;
    border: 2px solid red;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.widget {
    background-color: mediumpurple;
    border-radius: 2px;
    color: white;
    padding: 2px;
    margin: 0px 1px;
}

button {
    background-color: lightcoral;
    outline: none;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;

    margin: 10px 0px;
}

button:hover {
    background-color: coral;
}

button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

.event-text {
    border-left: 4px solid lightblue;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
    font-size: small;
}

.event-text.warn {
    background-color: #FFF0F5;
    border-color: lightcoral;

}